body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.data {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 3px;
}

.divv {
    line-height: 60px;
}

.data:hover {
    background-color: rgb(226, 226, 226);
}

.city {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

input {
    height: 25px;
    text-align: center;
}

button {
    padding: 7px;
}

input,
button {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

input:hover,
button:hover {
    background-color: rgb(192, 192, 192);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }

    .data {
        border-radius: 5px;
    }

    .divv {
        line-height: 30px;
    }
}